.wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 95% !important;
}

.top-container-option {
    height: -moz-max-content;
    height: max-content;
}

.margin-50 {
    margin: 10px;
}

.base-1-color {
    color: #5F249F;
}

.btn-user {
    max-width: 7em;
}

.sub-nav-background {
    background-color: #fbf8ff;
}

.border-bblr-1 {
    border-color: #8246AF;
}

.border-indigo-600 {
    border-color: #DDE5ED !important;
}

.text-blue-500 {
    color: #8246AF !important;
}

.select2-selection--single {
    border-color: #512D6D !important;
    border-width: thin;
}

.js-consultar-inscritos-single {
    border-width: thin;
}

@media screen and (max-width: 1050px) {
    .container-f-option {
        display: block !important;
    }
}

.dropdown-menu li {
    position: relative;
}

.dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 95%;
    top: -7px;
}
/*.sub-dropdown-menu{
    
}*/
.dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
}

.dropdown-menu>li:hover>.dropdown-submenu {
    display: block;
}

.dropdown-hover:hover>.dropdown-menu-hover {
    display: block;
}

.dropdown-hover>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.dropdown-menu{
    top: 95%;
}
.sub-dropdown-menu{
    top: 100%;
}
@media screen and (max-width: 1400px) {
    .sub-nav-background{
        overflow: auto;
    }
}

.opt-log-radio{
    width:100%; 
    margin:0px auto; 
    padding-top:8px; 
    clear: both; 
    background-color: #60269e; 
    color: #FFF; 
    padding-bottom: 8px;
    border-radius: 6px;
}
#espacio{
    width: 20rem;
}
.select2-selection__arrow, .select2-selection__rendered, .select2-selection--single{
    height: 43px !important;
    align-content: center;
}
.bg-60269e{
    background-color: #60269e !important;
}
.gridjs-head {
    justify-content: center;
    display: flex;
    margin-bottom: 0px !important;
}
input.gridjs-input {
    background-color: #FFFFFF !important;
    border: 1px solid #4B4F54 !important;
}
th.gridjs-th {
    color: #4B4F54 !important;
    background-color: #DDE5ED !important;
}
.bg-invented-300 {
    --tw-bg-opacity: 1;
    background-color: #B5E3D8;
}

